.layout {
  display: flex;
  height: 100vh;
  background-color: #EFF5FF;
  height: 100%;
  /* position: relative;  */
  /* gap: 4rem; */
}

.children{
  background-color: #EFF5FF;
  width: 100%;
  /* height: 100vh; */
  padding-top: 70px;
}

/* === Title === */
.title{
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 40px;
}

.content{
  /* width: 100%; */
  /* height: 100%; */
  padding-bottom: 40px;
  margin-top: 24px;
  background-color: #EFF5FF;
}


/* === PATIENT MONITORING DASHBOARD ==== */
.table-bg{
  width: 1172px;
  /* width: 1560px; */
  padding-bottom: 40px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}

.recap{
  display: flex;
  gap: 46px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 56px;
  width: 1172px;
}

.nop{
  width: 360px;
  height: 100px;
  background: #4FC0FF;
  border-radius: 10px;
}

.sc{
  width: 360px;
  height: 100px;
  background: #FF9090;
  border-radius: 10px;
}

.mc{
  width: 360px;
  height: 100px;
  background: #FFC27B;
  border-radius: 10px;
}


/* === PATIENT Admission === */
.subtitle{
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 8px;
}
.input-patient{
  width: 1172px;
  min-height: 625px;
  margin-top: 24px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 32px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}

.form-input{
  width: 320px;
}

.text-area{
  /* position: relative; */
  left: 164px;
  min-width: 320px;
}

.btn-size{
  width: 70px;
  height: 40px;
}


/* === PATIENT DATA ==== */
.filter-frame{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-left:auto;
  margin-right: auto;
  padding-top:40px;
  padding-bottom: 28px;
  margin-bottom: 32px;
  margin-top: 24px;
  width: 1172px;
  /* width: 1560px; */
  height: 300px;
  background-color:#FFFFFF;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}

.filter-input{
  width: 346px;
}

.filter-btn{
  width: 100px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.action-btn{
  width: 60px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* === PATIENT DETAIL ==== */
.bio-frame{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 24px;
  width: 1172px;
  /* width: 1560px; */
  background-color:#FFFFFF;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}

.image-rounded{
  border-radius: 50%; 
  overflow: hidden; 
  width: 130px; 
  height: 130px;
}

.image-rounded img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grafik-detail-frame{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 20px;
  width: 1172px;
  /* width: 1560px; */
  /* height: 220px; */
}

/* === MASTER DATA ==== */
.table-master-bg{
  /* width: 96%; */
  width: 1200px;
  padding-bottom: 40px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}

.children_master{
  background-color: #EFF5FF;
  /* width: 100%; */
  /* height: 100vh; */
  /* margin-left: 300px; */
  padding-top: 70px;
}




/*=== Early Warning System ===*/
.ews-bg{
  width: 900px;
  display: flex;
  gap: 40px;
  padding: 14px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  /* background: #FFFFFF; */
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}